
<div class="container mb-5">
  <div class="row my-3">
    <div class="col-sm-10 d-block justify-content-center mx-auto mb-5">
      <h2>ポートフォリオ新規登録</h2>
      <% if @post_text.errors.any? %>
        <div class = "alert col rounded border bg-light">
          <ul>
            <% @post_text.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-12 d-flex justify-content-center mt-3">
        <%= form_with model:@post_text, local:true do |f| %>
        <table class="table">
          <tr>
            <th class="table-active">トップ画像</th>
            <td class="align-middle"><%= f.attachment_field :image %></td>
          </tr>
          <tr>
            <th class="table-active">タイトル</th>
            <td class="align-middle"><%= f.text_field :title, placeholder: "タイトル", size: "30", class: "form-control" %></td>
          </tr>
          <tr>
            <th class="table-active">カテゴリー</th>
            <td class="align-middle"><%= f.text_field :category, size: "30", class: "form-control" %></td>
          </tr>
          <tr>
            <th class="table-active">募集人数</th>
            <td class="align-middle"><%= f.text_field :num, size: "30", class: "form-control" %></td>
          </tr>
          <tr>
            <th class="table-active">詳細</th>
            <td class="align-middle"><%= f.text_field :body, size: "30", class: "form-control" %></td>
          </tr>
        </table>
        <div class="actions text-center">
          <%= f.submit "作成", class: "btn btn-success col-4 mt-2" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>