<div class="container">
  <div class="row my-5">
    <div class="col-sm-12 d-flex">
      <div class="col-sm-12 col-md-5 mb-5">
        <div class="col d-flex">
          <h2>マイページ</h2>
          <%= link_to "編集", edit_user_path(@user), class: "btn btn-success col-4 ml-3" %>
        </div>
        <div class="col-12">
          <%= attachment_image_tag(@user, :image, format: "jpeg", size: "200x150", fallback: "no_image_person.jpg", class: "rounded my-2 text-center") %>
          <table class="table border">
            <tr>
              <th class="table-active">名前</th>
              <td class="align-middle"><%= @user.name %></td>
            </tr>
            <% if @user == current_user %>
            <tr>
              <th class="table-active">メール</th>
              <td class="align-middle"><%= @user.email %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="col-sm-12 col-md-7">
        <table class="table">
          <thead>
            <th class="text-center">投稿名</th>
            <th class="text-center">カテゴリー</th>
            <th class="text-center">募集人数</th>
          </thead>
          <tbody>
          <% @post_texts.each do |post_text| %>
            <tr>
              <td class="text-center"><%= link_to post_text.name, post_text_path(post_text) %></td>
              <td class="text-center"><%= post_text.category %></td>
              <td class="text-center"><%= post_text.num %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div class="mx-auto"><%= paginate(@post_texts) %></div>
      </div>
    </div>
  </div>
</div>